
.sort_box-two {
    display: block;
}

.input {
    border-bottom: 2px #fff solid;
    display: inline-block;
    height: 42px;
    width: calc(100% - 50px);
}



a,
input,
img,
textarea,
span,
div {
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

#letter {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    font-size: 75px;
    color: #555;
    text-align: center;
    line-height: 100px;
    background: rgba(145, 145, 145, 0.6);
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -50px 0px 0px -50px;
    z-index: 99;
    display: none;
}

#letter img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 25px 0px 0px 25px;
}

[class^="sort_box"] {
    overflow: hidden;
    background: #ebebeb;
    padding: 0 1.5rem .5rem .5rem;
}

[class^="sort_list"] {
    padding: .43rem;
    position: relative;
    line-height: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
}

[class^="sort_list"] .num_logo {
    width: 3.26rem;
    height: 3.26rem;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    margin-right: .22rem;
    border:1px solid rgba(208,207,207,1);
}

[class^="sort_list"] .num_logo img {
    width: 100%;
    height: 100%;
}

[class^="sort_list"] .num_name {
    color: #2B2B2B;
    font-size: .7rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.sort_letter {
    height: 1.96rem;
    line-height: 1.96rem;
    padding-left: .10rem;
    color: #2B2B2B;
    font-weight: bold;
    font-size: .8rem;
}

.initials {
    position: fixed;
    top: 47px;
    right: 0px;
    height: 100%;
    width: 15px;
    padding-right: 10px;
    text-align: center;
    font-size: 12px;
    z-index: 99;
    background: rgba(145, 145, 145, 0);
}

.initials li img {
    width: 14px;
}

#header-nav2 {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    width: 0.95rem;
    height: 0.95rem;
    padding: 0.5rem 0.5rem;
    font-size: .52rem;
    color: #5F5F5F;
}

.header-l a i.back {
    color: #000000 !important;
}

.search_btn {
    width: 2.56rem;
    height: .96rem;
    background: #EBEBEB;
    border-radius: .48rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_btn>img {
    width: .96rem;
    height: .96rem;
}
.htsearch-wrap {
    right: 3.5rem;
}   
.search_btn2 {
    margin-right: -.5rem;
    height: .96rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pin_show {
    display: block;
}
.pin_hide {
    display: none;
}
input.htsearch-input {
    width: auto;
}